@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Raleway', sans-serif;
  background-color: #e5e7eb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.card-img-top {
  width: 100px;
}

.card {
  font-size: 12px;
}

@media print {
  header, footer, .non-print {
    display: none;
  }


  table {
    transform: scale(0.7); 
    transform-origin: top left; 
  }
}
